html, body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-popup-content {
  text-align: center;
}

section {
  width: 100%;
  flex: 1;
  max-width: 900px;
  max-height: 500px;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

section div#map {
  flex: 1;
}

section button#rate {
  position: absolute;
  padding: 5px;
  bottom: 15px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
}

section button#rate:before {
  content: "Rate this app!";
}

section button#rate div.octopus {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("resources/octopus.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

section div#modal {
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  z-index: 2000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

section div#modal div#inner {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.8);
  box-sizing: border-box;
  border: solid;
  border-width: 1px;
  padding: 30px;
  width: 300px;
}

section div#modal button {
  cursor: pointer;
}

section div#modal button#cancel {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 20px;
}

section div#modal button#apply   {
  align-self: center;
}

section div#modal label {
  margin-bottom: 20px;
}

section div#modal div#octopodes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

section div#modal div#octopodes img {
  display: none;
  width: 24px;
  margin-right: 2px;
}

section div#modal div#octopodes img:last-of-type {
  margin-right: 0px;
}

section div#controls {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);  
  border: solid;
  border-width: 1px; 
  z-index: 1000;
  top: 10px;
  left: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

section div#controls h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

section div#controls ul {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
}

section div#controls ul li {
  display: flex;
  background-color: rgba(43,130,203,1);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(43,130,203,1); 
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 3px;
  align-items: center;
}

section div#controls ul li.ghosted {
  background-color: rgba(43,130,203,0.5);
}

section div#controls ul li.selected {
  background-color: rgba(43,130,203,1);
}

section div#controls ul li.hidden {
  display: none;
}

section div#controls ul li button {
  cursor: pointer;
  color: white;
  border: none;
}

section div#controls ul li button:focus {
  outline-color: rgba(255,255,255,0.8);
  outline-style: solid;
  outline-width: 2px;
}

section div#controls ul li > button:nth-of-type(1) {
  flex: 1;
  background: none;
  text-align: left;
  padding: 10px;
}

section div#controls ul li button.hide {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-image: url("resources/deletered.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(43,130,203);
  border: none;
  font-weight: bold;
  color: white;
  display: none;
  margin-left: 10px;
}

section div#controls ul li.selected button.hide {
  display: block;
}