html, body {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-popup-content {
  text-align: center;
}

section {
  width: 100%;
  flex: 1;
  max-width: 900px;
  max-height: 500px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

section div#map {
  flex: 1;
}

section div#controls {
  position: absolute;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.75);
  padding: 30px;
  top: 10px;
  left: 10px;
  border: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

section div#controls ul {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
}

section div#controls ul li {
  display: flex;
  padding: 10px;
}

section div#controls ul li input[type=checkbox] {
  cursor: pointer;
}

section div#controls ul li label {
  cursor: pointer;
  margin-left: 5px;
  flex: 1;
}

section div#controls ul li button {
  width: 80px;
  cursor: pointer;
  margin-left: 10px;
}

section div#controls ul li button.hide {
  background-color: rgba(43,130,203);
  color: white;
}

section div#controls ul li button.hide.active {
  background: none;
  color: inherit;
}

section div#controls ul li button.hide:before {
  content: "Hide";
}

section div#controls ul li button.hide.active:before {
  content: "Show";
}

section div#controls ul li button.ghost:before {
  content: "Ghost";
}

section div#controls ul li button.ghost.active {
  background-color: rgba(43,130,203, 0.5);  
}

section div#controls ul li button.ghost.active:before {
  content: "Un-Ghost";
}

section div#controls ul li button.zoom-to:before {
  content: "Zoom To";
}

section div#controls div#slider {
  margin-top: 10px;
}